*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(218, 213, 213)
}

header{
    padding: 20px;
}

.title_color{
    background-color: white;
}


.second_background_color{
    background-color: rgb(229, 229, 229);
}

#buttons{
    background-color: white;
}

#buttons{
    padding: 20px;
    margin-left: 300px;
    margin-top: 100px;
    margin-right: 400px;
    border-radius: 5%;
    background-color: white;
}

.add_task{
    background-color: aqua;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
}

.add_section{
    background-color: white;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
}



#main_body{
    margin-top: 120;
    margin-left: 300px;
    margin-right: 400px;
    background-color: white;
}

.list{
    padding: 5px;
    margin-left: 30px;
    background-color: white;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.editorial{
    background-color: rgb(13, 86, 197);
    font-size: 70%;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}

.less_important_titles{
    padding: 20px;
    background-color: white;
}

.x_circle{
    background-color: white;
    color: red;
}

.check_sign{
    background-color: white;
    color: rgb(74, 186, 14);
}

#qi_goals{
    background-color: blueviolet;
    font-size: 70%;
    border-radius: 10px 10px 10px 10px;
    padding: 5px
}

#recruiting{
    background-color:rgb(6, 143, 93);
    font-size: 70%;
    border-radius: 10px 10px 10px 10px;
    padding: 5px
}

#mobile{
    background-color:rgb(222, 101, 20);
    font-size: 70%;
    border-radius: 10px 10px 10px 10px;
    padding: 5px
}

#website{
    background-color:rgb(234, 15, 154);
    font-size: 70%;
    border-radius: 10px 10px 10px 10px;
    padding: 5px
}

#sales{
    background-color:rgb(49, 205, 18);
    font-size: 70%;
    border-radius: 10px 10px 10px 10px;
    padding: 5px
}


