*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(218, 213, 213)
}

header{
    padding: 20px;
}

.title_color{
    background-color: white;
}


.second_background_color{
    background-color: rgb(229, 229, 229);
}

#add_task{
    background-color: rgb(70, 70, 214);
    border-radius: 10px;
    padding: 1% 1%;
    font-size: 24px;
}

#task_button{
    border-bottom: 2px;
}

